*,::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
ul li{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1.575px;
    text-transform: uppercase;
    color: #56593D;
}
.flexcontainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}
ul{
    display: flex;
    justify-content: space-between;
    min-width: 560px;
}
.hui{
    display: flex;
    justify-content: space-between;
    min-width: 130px;
}
.kok{
    position: relative;
}
.tot{
    position: absolute;
    bottom: -4px;
    right: -5px;
    background-color: #FFFFEF;
    border-radius: 50%;
    width: 15px;
    color: gray;
}
.gog{
    margin-top: 16px;
    flex-direction: column;
    display: flex;
    bottom: 5px;
    justify-content: flex-end;
    background-image: url(../img/Rectangle\ \(2\).png);
    min-height: 100vh;
    padding-right: 64px;
    padding-bottom: 64px;
}
.gog p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 1.8px;
    color: #56593D;
}
.gog h1{
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 60px;
    text-align: right;
    color: #56593D;
}
.rrr{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1.575px;
    text-transform: uppercase;
    color: #FFFFEF;
}
.gog div{
    align-self: flex-end;
    align-items: flex-end;
}
button{
    background-color: #56593D;
    border: none;
    padding: 11px;
}
.fff{
    background: #FFFFEF;
    border-radius: 0px;
}
.ppp{
    background: #FFFFEF;
    border-radius: 0px;
}
.huii h1{
    margin-top: 110px;
    font-style: normal;
    font-weight: 400;
    font-size: 57px;
    line-height: 65px;
    text-align: center;
    color: #56593D;
}
.aaa{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    text-decoration: underline;
}
.joi h1{
    margin-top: 63px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #56593D;
}
.don{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.don img{
    padding: 30px;
    width: 370px;
}

.gon1 h1{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #56593D;
}
.gon1 p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 1.62px;
    color: #717353;
}
.gon2 h1{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #56593D;
}
.gon2 p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 1.62px;
    color: #717353;
}
.gon3 h1{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #56593D;
}
.gon3 p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 1.62px;
    color: #717353;
}

.open-popup {
    display: inline-block;
    padding: 15px 30px;
    text-transform: uppercase;
    background: #717353;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
}

.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
}

.popup__bg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 400px;
    padding: 25px;
    transition: 0.5s all;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.popup label {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column-reverse;
}

.popup .label__text {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #cfd0d3;
    margin-bottom: 5px;
}

.popup input {
    height: 45px;
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cfd0d3;
}

.popup input:focus {
    border-bottom: 1px solid #717353;
}

.popup input:focus + .label__text {
    color: #717353;
}

.popup textarea {
    resize: none;
    width: 100%;
    height: 150px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cfd0d3;
    font-size: 18px;
    padding-top: 5px;
}

.popup textarea:focus {
    border-bottom: 1px solid #717353;
}

.popup textarea:focus + .label__text {
    color: #717353;
}

.popup button {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    border: 2px solid #717353;
    background: #717353;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s all;
}

.popup button:hover {
    background: #fff;
    color: #717353;
    transition: 0.5s all;
}
.logo img{
   max-width: 85px;
}
.ah{
    margin-top: 101px;
    font-weight: 400;
    font-size: 25px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1.8px;
    color: #56593D;
}
.ahah{
    margin-top: 50px;
    font-weight: 400;
    font-size: 65px;
    line-height: 60px;
    text-align: center;
    color: #56593D;
}
.rus_pidr{
    margin-top: 39px;
    flex-direction: column;
    display: flex;
    bottom: 5px;
    justify-content: flex-end;
    background-image: url(../img/Rectangle.png);
    min-height: 100vh;
}
.kostyan_pidr{
    background-color: #FFFFEF;
    margin-top: 40px;
}
.gg{
    font-weight: 400;
    font-size: 29px;
    line-height: 39px;
    text-align: center;
    color: #56593D;
    padding-left: 890px;
    padding-right: 90px;
    padding-top: 167px;
}

.swiper {
    width: 85%;
    height: 85%;
    padding-top: 15px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.jii{
    margin-top: 59px;
    font-weight: 400;
    font-size: 35px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1.8px;
    color: #56593D;
    padding-top: 15px;
}
.kii{
    background-color: #FFFFEF;
}


